*.o
*.so
*.a
*.vscode
*.log
*.idea
*.svn
#*.xml

!*libkeysignature.so
!*libkeystore.so
!*Config.xml
!*config.xml

build

build/*
console/build/*
console/build_option/result_build_all/*
console/build_option/result_build_galaxy/*
console/build_option/console/*
console/build_option/test/*
console/CMakeLists.txt

cmake-build-debug/
cmake-build-release/

console/pandora/messager/redis_publisher.h
console/pandora/messager/redis_publisher.cpp
console/pandora/field/field_json.h
console/pandora/package/package_manager.h
console/pandora/util/sqlite_package.cpp
console/pandora/util/sqlite_package.h
console/quark/*/*.h
console/quark/*/*/*.h
console/quark/*/*/*.cpp
console/quark/*/*.py
target_directory_config.h

console/build_option/result_build_galaxy/
console/build_option/result_build_singularity/
console/build_option/*.rpm


console/comm/stg_mq_request_test/bin
console/comm/stg_mq_response_test/bin/

console/comm/test_comm_lib_client/bin/
console/comm/test_comm_lib_server/bin/


console/comm/std_trade/stg_client.cpp
console/comm/std_trade/stg_client.h
console/comm/std_trade/stg_client_receiver.cpp
console/comm/std_trade/stg_server.cpp
console/comm/std_trade/stg_server.h
console/comm/std_trade/stg_server_receiver.cpp


console/datamodel/mergeXml/build
console/comm/lib
console/quark/build


utconfig-input/__pycache__/


console/comm/stg_trade/stg_client.h
console/comm/stg_trade/stg_client_receiver.cpp

console/quark/cxx/Utils.h

console/comm/build/
console/comm/test_comm_lib_client/build/
console/comm/test_comm_lib_server/build/
console/comm/test_wormhole/bin
console/comm/test_wormhole/build

console/bridge/platform/utils/opu_package_logger.h
test/test_wormhole/build/
test/test_wormhole/bin/log/
test/test_wormhole/bin/test_wormhole
